#connection {
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #f3e284;

    padding: 10px 20px;
    color: #868686;

    position: static;
    float: none;
    display: block;
    min-width: 160px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}